<!doctype html>
<html>
<head>
    <style>
        .error { 
            color:red;}
    </style>
    <body>
        <h1>Signup</h1>
        <form method='post'>
            <table>
            <tbody><tr>
            <td><label>Username:    <input name='username'type='text'value='' />
            </label></td>
            <td>
            </td>
            
            </tr>
            <tr>
                <td><label>Password:    <input name='password' type='password'>
                </label></td>
                <td>
                
                </td>
            </tr>
            <tr>
                <td><label>Verify Password:<input name='verify'type='password'>
                </label></td>
                <td>
                    
                </td>
            </tr>
            <tr>
            <td><label>Email(optional): <input name='email' value=''></label></td>
            <tr>
             <td>
                
            </td>
                </tr>
                <tr></tr>
                <tr></tr>
                <tr></tr>
                <tr></tr>
            </tbody>
            </table>
            <input type='submit'>
            </form>

</html>