<!doctype html>
<html>
<head>
    <style>
        .error { 
            color:red;}
    </style>
    <body>
        <h1>Signup</h1>
        <form method='post'>
            <table>
            <tbody><tr>
            <td><label for='username'>Username:</label></td>
            <td>
            <input name='username'type='text'value=''>
            </tr>
            <tr>
                <td><label for='Password'>Password:</label></td>
                <td>
                <input name='password' type='password'>
                </td>
            </tr>
            <tr>
                <td><label for='verify'>Verify Password</label></td>
                <td>
                    <input name='verify'type='password'>
                </td>
            </tr>
            <tr>
            <td><label for='email'>Email(optional)</label></td>
            <tr>
             <td>
                <input name='email' value=''>
            </td>
                </tr>
                <tr></tr>
                <tr></tr>
                <tr></tr>
                <tr></tr>
            </tbody>
            </table>
            <input type='submit'>
            </form>

</html>